@font-face {
  font-family: bettercode;
  src: url('/sourcecodepro.ttf');
}

.navbar .home-link .site-name {
  color: $accentColor;
}

.page .custom-block.tip {
  border-color: $accentColor;
}

.theme-container .page .content__default .logo-img {
  margin-top: 3.6rem;
}

.page .content__default .logo-text {
  padding-top: 2.6rem;
  padding-bottom: 2rem;
}

.icon.outbound {
  display: none;
}

#app .global-ui .sw-update-popup {
  border: 1px solid $accentColor;
}

.routes .sidebar-group-items > li > .sidebar-sub-headers > .sidebar-sub-header > a {
  color: $accentColor;
}

.CodeMirror {
  font-size: .875rem;
  height: auto !important;
  line-height: 1.4 !important;
}

code[class*="language-"], pre[class*="language-"] {
  font-family: bettercode !important;
}

details {
  background-color: #eee;
  border-radius: 2px;
  margin: 1.6em 0;
  padding: 1.6em;
}

summary {
  cursor: pointer;
  padding: 1.6rem;
  margin: -1.6rem;
  outline: none;
  &::after {
    content: "...";
  }
  &:hover {
    background: rgba(255,255,255,0.3);
  }
  h4 {
    display: inline-block;
    margin: 0;
  }
}
